# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Python / Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/migrations/__pycache__/
backend/migrations/versions/*.pyc
backend/migrations/versions/__pycache__/
# Python virtual environment in app
backend/app/my_project_venv/

# Python cache files in app
backend/app/__pycache__/
backend/app/**/*.pyc

backend/tests/__pycache__/
