@import "tailwindcss";
* {
  box-sizing: border-box;
}

html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
}
.ql-container {
  min-height: 400px;
  max-height: 70vh;
  font-size: 1.05rem;
  line-height: 1.75;
  overflow-y: auto;
}

.ql-editor {
  padding: 1.25rem !important;
}
